form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type='text'] {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    font-size: 16px;
  }
  
  input[type='date'] {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    font-size: 16px;
  }
  
  button[type='submit'] {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  table {
    margin: 10px auto 10px 250px; /* center the table horizontally */
    border-collapse: collapse;
    width: 80%; /* adjust the width as needed */
    padding-left: 200px; /* add left padding to offset the sidebar */
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #dddddd;
  }
  
  /* select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    background-color: white;
    width: 100%;
  }
  
  option {
    padding: 10px;
    font-size: 16px;
  } */
  
  .form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }

  select, option {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: white;
  }
  
  select {
    width: 200px;
  }
  

  label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
.success-message {
  font-size: 20px;
  color: green;
  text-align: center;
  margin-top: 20px;
}
